body {
  font-family: Roboto, Helvetica, sans-serif;
}

/* =========== Header Part ========== */

header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 10px 120px;
}

#logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* =========== This Website is Awesome ========== */

.website-is-awesome-section {
  padding: 120px;
  display: flex;
  flex: 1;
  background-color: #1f2937;
}

#hero {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

#hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100px;
}

button {
  background-color: #3882f6;
  color: #F9FAF8;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 35px;
  border-radius: 10px;
  border: none;
}

#hero-img {
  max-width: 300px;
  margin-left: 35px;
}

/* =========== Some random information. ========= */
.random-items-section {
  /* padding: 10px 150px; */
  padding: 10px 150px 100px 150px;
}

#random-items-title {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.items-container {
  display: flex;
  gap: 40px;
}

.random-item {
  display: flex;
  flex-direction: column;
}

.subtext {
  display: flex;
  text-align: center;
  flex: 1;
}

/* =========== Quote section ========= */
.quote-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 150px 150px 90px 150px;
}

#quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  margin: 0;
}

#author {
  text-align: end;
  font-size: 23px;
  font-weight: bold;
  margin: 9px 0px;
}

/* =========== Call to action Section ========= */

.call-to-action-section {
  padding: 120px;
}

.blue-rectangle-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  padding: 35px 90px;
  border-radius: 5px;
}

#call-to-action {
  color: #F9FAF8;
  font-size: 26px;
  margin: 0;
}

#sign-up-for {
  color: #e5e7eb;
  margin: 0;
}

#button-sign-up-action {
  border: 2px solid #F9FAF8;
}

/* =========== Footer ========= */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  background-color: #1f2937;
  flex: 1;
  height: 20vh;
}