body {
  font-family: Roboto, Helvetica, sans-serif;
}

/* =========== Header Part ========== */

header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 10px 90px;
}

#logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* =========== This Website is Awesome ========== */

.website-is-awesome-section {
  padding: 100px 90px;
  display: flex;
  flex: 1;
  background-color: #1f2937;
}

#hero {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

#hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100px;
}

button {
  background-color: #3882f6;
  color: #F9FAF8;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 35px;
  border-radius: 10px;
  border: none;
}

#hero-img {
  max-width: 300px;
}

/* =========== Some random information. ========= */
.random-items-section {
  padding: 10px 150px;
}

#random-items-title {
  text-align: center;
  font-size: large;
  font-weight: bolder;
}

.items-container {
  display: flex;
  gap: 40px;
}

.random-item {
  display: flex;
  flex-direction: column;
}

.subtext {
  display: flex;
  text-align: center;
  flex: 1;
}

.quote-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 150px;
}

#quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  margin: 0;
}

#author {
  text-align: end;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
